kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2beta2
metadata:
  name: mvcapp
  namespace: mvc
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: mvcapp
  minReplicas: 1
  maxReplicas: 100
  metrics:
  - type: Pods
    pods:
      metric:
        name: requests_per_second
      target:
        type: AverageValue
        averageValue: "25"